.App {
  text-align: center;
}
.containerEntrada {
  background-color: #d8d9db;
  min-height: 10vh;
  display: flex;
 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.containerSaida {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  background-color: #537cd0;
  min-height: 5vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}
.container testarea {
  width: 300px;
  height: 100px;
  margin-bottom: 30px;
}
